* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
  color: #34495e;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: large;
}

.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: large;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #64482a;
  background-color: #f5f29c;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
    .header {
      width: 80%;
      margin: 0 auto;
      max-width: 1150px;
    }
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Split the screen in half */
.split {
  height: 300px;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 220px;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.split:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.75);
}

#pic1 {
  height: 300px;
  width: 300px;
}

/* generic css */

.view {
  margin: 10px;
  float: left;

  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  margin-right: 290px;
}

.view .mask,
.view .content {
  width: 300px;
  height: 300px;
  position: absolute;

  top: 0;
  left: 0;
}

.view a.info {
  margin-right: 10px;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(8, 7, 8);
  font-family: Raleway, serif;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  border-radius: 4px;
}

.view a.info:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 20px 15px rgba(61, 8, 110, 0.4);
}

/*1*/

.view img {
  transform: scaleY(1);
  transition: all 0.7s ease-in-out;
}

.view .mask {
  background-color: rgb(158, 163, 177);
  transition: all 0.5s linear;
  opacity: 0;
}

.view h2 {
  background: transparent;
  text-align: center;
  transform: scale(0);
  transition: all 0.5s linear;
  opacity: 0;
  color: rgb(253, 246, 246);
  margin-right: 15px;
  margin-top: 15px;
  font-size: x-large;
}

.view p {
  color: black;
  opacity: 0;
  margin: 20px 40px 0px 40px;
  transform: scale(0);
  transition: all 0.5s linear;
  margin-right: 60px;
  font-size: 15px;
}

.view a.info {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
  margin-right: 20px;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(8, 7, 8);
  font-family: Raleway, serif;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  border-radius: 4px;
}

.view:hover img {
  -webkit-transform: scale(10);
  transform: scale(10);
  opacity: 0;
}

.view:hover .mask {
  opacity: 1;
}

.view:hover h2,
.view:hover p,
.view:hover a.info {
  transform: scale(1);
  opacity: 1;
}

.view:hover p {
  transition-delay: 0.1s;
}

.view:hover a.info {
  transition-delay: 0.2s;
}

.container1 {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: auto;
  justify-content: space-around;
}

@import url("https://fonts.googleapis.com/css?family=Squada+One&display=swap");

body {
  background: bisque;
}

.container {
  width: 100%;

  transform: translate(0, 30vh);
}

h1 u {
  position: relative;
  display: block;
  width: 100%;

  font-family: "Squada One", serif;
  font-size: 4vw;
  color: #64482a;
  text-align: center;
  bottom: 150px;
  animation-delay: 1150ms;
  animation-name: flash-a;
  animation-duration: 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes flash-a {
  0%,
  89% {
    color: #64482a;
  }
  90%,
  100% {
    color: #f5f29c;
  }
}

@media (min-width: 200px) and (max-width: 480px) {
  .body {
    margin-top: 5px;
    overflow: hidden;
    align-items: center;
  }
}
